<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216676294417-spk8aicsr0arn6mgr1v9817qbqhg7svk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216676294417-spk8aicsr0arn6mgr1v9817qbqhg7svk</string>
	<key>API_KEY</key>
	<string>AIzaSyCh7n4j-JcsYYpP5G2OgGqbfeOz47qizOE</string>
	<key>GCM_SENDER_ID</key>
	<string>216676294417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.driverApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>driverapp-3cff3</string>
	<key>STORAGE_BUCKET</key>
	<string>driverapp-3cff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216676294417:ios:ebcd9bca6d198df66df6b0</string>
</dict>
</plist>